.transform {
  transition-duration: 2s;
}

.transform:hover {
  background-color: cornflowerblue;
  color: ghostwhite;
}

.caption {
  position: relative;
  overflow: hidden;
}

.caption::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background 0.4s ease-out;
}

.caption:hover::before {
  background: rgba(0, 0, 0, 0.3);
}

.caption img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateY(100%);
  transition: transform 0.15s ease-out;
}

.caption h1 {
  text-align: left;
  margin: 0;
  padding: 0 0 11px;
  transform: translateY(calc(-100% - 10px));
  transition: transform 0.4s ease-out;
}

.caption:hover .overlay__title {
  transform: translateY(10%);
}
.caption:hover .caption__overlay {
  transform: translateY(10%);
}
